.background-photo{
  background-image: url(../Assets/backgroundProfile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 80px 0;
}

div.container.profile {
  padding: 10px 20px;
}

.relative {
  position: relative;
}

.absolue {
  position: absolute;
}

div.profile-center {
  background-color: rgba(255,255,255,0.9);
  margin: 0 auto;
  padding: 5%;
  width: 50%;
}

.absolue.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}

div.alert {
  width: 40%;
}

.alert-col > .alert {
  padding: 10px;
  border-radius: 0;
  transition: all 0.5s ease;
  opacity: 0;
}

hr {
  height: 2px;
}

.content-right > * {
  float: right;
}

.form-btn {
  min-width: 100px;
  margin: 0 5px;
  max-width: 200px;
}

.avatar{
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
